{% extends 'master.html' %}
{% block title %}Add Employee{% endblock %}
{% block css %}
label{
    color:white;
}

input{
    background-color:#E8F0FE;
    border:1px solid black;
}

.btn{
    background-color:orange;
}

.btn:hover{
    background:rgb(248, 149, 1);
}
{% endblock %}
{% block body %}
<div class="container" style="padding-left:200px">
    <h1 style="color:violet">Add Employee Details!</h1>
    <hr>
    {% if msg_success %}
        <h5 class="alert alert-success alert-dismissible fade show" role="alert">
        {{ msg_success }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </h5>
    {% endif %}
    {% if msg_danger %}
        <h5 class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg_danger }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </h5>
    {% endif %}
<form method="POST" action="new_emp">
    {% csrf_token %}
    <label for="eid" class="form-label fw-bold">Employee ID</label><br>
    <input type="number" class="form-group" id="eid" name="eid" required placeholder="  Enter id..."><br>
    <label for="first_name" class="form-label fw-bold">First Name</label><br>
    <input type="text" class="form-group" id="first_name" name="f_nm" required placeholder="  Enter first name..."><br>
    <label for="last_name" class="form-label fw-bold">Last Name</label><br>
    <input type="text" class="form-group" id="last_name" name="l_nm" required placeholder="  Enter last name..."><br>
    <label for="dept" class="form-label fw-bold">Department</label><br>
    <input type="text" class="form-group" id="dept" name="dept" required placeholder="  Enter dept name..."><br>
    <label for="salary" class="form-label fw-bold">Salary</label><br>
    <input type="number" class="form-group" id="salary" name="sal" required placeholder="  Enter salary..."><br>
    <label for="bonus" class="form-label fw-bold">Bonus</label><br>
    <input type="text" class="form-group" id="bonus" name="bonus" required placeholder="  Enter bonus..."><br>
    <label for="designation" class="form-label fw-bold">Designation</label><br>
    <input type="text" class="form-group" id="Designation" name="desg" required placeholder="  Enter designation..."><br>
    <label for="phone" class="form-label fw-bold">Phone</label><br>
    <input type="number" class="form-group" id="phone" name="ph_no" required placeholder="  Enter phone no..."><br><br>
    <label for="date_join" class="form-label fw-bold">Date of joining</label><br>
    <input type="date" class="form-group" id="Date_join" name="DOJ" required><br><br>
  <button type="submit" class="btn">Submit</button>
</form>
</div>
{% endblock %}