{% extends 'master.html' %}
{% load humanize %}
{% block title %}View Employee{% endblock %}

{% block css %}

{% endblock %}
{% block body %}

<div class="container p2" id="result">
    <h1 style="color:violet">All Employee Details!</h1>
<table id="display_table">
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Dept</th>
        <th>Salary</th>
        <th>Bonus</th>
        <th>Designation</th>
        <th>Phone</th>
        <th>DOJ</th>
    </tr>
    {% for x in data %}
        <tr>
            <td>{{x.Eid}}</td>
            <td>{{x.First_name}}</td>
            <td>{{x.Last_name}}</td>
            <td>{{x.Dept}}</td>
            <td>{{x.Salary}}</td>
            <td>{{x.Bonus}}</td>
            <td>{{x.Desg}}</td>
            <td>{{x.Phone}}</td>
            <td>{{x.DOJ|date:"d-M-Y"}}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}