{% extends 'master.html' %}
{% block title %}Edit Employee{% endblock %}
{% block css %}
label{
    color:white;
}

input{
    background-color:#E8F0FE;
    border:1px solid black;
    <!-- color:white; -->
}
{% endblock %}
<!--{% block script %}-->
<!--        var date_value=document.getElementById('Date_join');-->
<!--        date_value.value={{doj|date:"Y-m-d"}};-->
<!--&lt;!&ndash;        date_value.value='2018-07-13';&ndash;&gt;-->
<!--{% endblock %}-->

{% block body %}
<div class="container" style="padding-left: 200px;">
    <h1 style="color:violet">Edit Employee!</h1>
    <hr>
    {% if msg_success %}
        <h5 class="alert alert-success alert-dismissible fade show" role="alert">
        {{ msg_success }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </h5>
    {% endif %}
<form method="POST" action="edit_emp">
    {% csrf_token %}
    <label for="eid" class="form-label fw-bold">Employee ID</label><br>
    <input type="number" class="form-group" id="eid" name="e_id" value="{{eid}}" readonly style="background:lightgray; border:1px solid lightgray"><br>
    <label for="first_name" class="form-label fw-bold">First Name</label><br>
    <input type="text" class="form-group" id="first_name" name=first_nm value="{{f_name}}" readonly style="background:lightgray; border:1px solid lightgray"><br>
    <label for="last_name" class="form-label fw-bold">Last Name</label><br>
    <input type="text" class="form-group" id="last_name" name="last_nm" value="{{l_name}}" readonly style="background:lightgray; border:1px solid lightgray"><br>
    <label for="dept" class="form-label fw-bold">Department</label><br>
    <input type="text" class="form-group" id="dept" name="dept" value="{{dept}}" autofocus><br>
    <label for="salary" class="form-label fw-bold">Salary</label><br>
    <input type="number" class="form-group" id="salary" name="sal" value="{{sal}}"><br>
    <label for="bonus" class="form-label fw-bold">Bonus</label><br>
    <input type="text" class="form-group" id="bonus" name="bonus" value="{{bonus}}"><br>
    <label for="designation" class="form-label fw-bold">Designation</label><br>
    <input type="text" class="form-group" id="Designation" name="desg" value="{{desg}}"><br>
    <label for="phone" class="form-label fw-bold">Phone</label><br>
    <input type="number" class="form-group" id="phone" name="phone" value="{{phone}}"><br><br>
    <label for="date_join" class="form-label fw-bold">Date of joining</label><br>
    <input type="date" class="form-group" id="Date_join" name="doj" value="{{doj}}"><br><br>
  <button type="submit" class="btn btn-primary" name="sub">Submit</button>
</form>
</div>
{% endblock %}